<mat-card  class="mat-card">
    <mat-card-title> Romário Monjane </mat-card-title>
    
    <mat-card-content class="mat-card-content">
  <div>
        <img src="assets/romario.jpg" alt="imagem romario monjane" height="300" width="300" class="img">
  </div> 
<div class="sep">
    <p><strong>Apelido: </strong>Monjane</p>

    <p><strong>Nome: </strong>Romário Alexandre</p>
    <p><strong>Residência: </strong>Maputo cidade</p>
    <p><strong>Data: </strong>{{mydate| date}}</p>
    <div class="info">
        <h3>Romário Monjane é um engenheiro inteligente, assíduo, objetivo, 
        sabe trabalhar sob pressão e em grupo. Possui uma grande facilidade de aprendizagem. 
            </h3>
    </div>
    
    

</div>        




    </mat-card-content>

</mat-card>

